html, body, .App, div#root {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 80px;*/
}

.sidebarCloseIcon {
  margin-top: 10px;
}

h1.ui.header {
  font-size: 6rem;
}

.ui.basic.padded.pageSegment.segment {
    background: #e9ece5;
    background-size: 100% auto;
    background-position: center top;
    min-height: 100%;
    height: 888px;
}

.ui.visible.push.sidebar {
   padding-top: 50px; 
}

.ui.slide.along.sidebar {
  background-color: white;
  padding: 30px;
}

  
.coverPage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DAD299), to(#B0DAB9));
  background-image: -webkit-linear-gradient(top, #DAD299, #B0DAB9);
  background-image: -moz-linear-gradient(top, #DAD299, #B0DAB9);
  background-image: linear-gradient(bottom, #DAD299, #B0DAB9);
  background-size: 100% auto;
  background-position: center top;
  min-height: 100%;
  margin-top: 0px;
}

.mainContent {
  margin-top: 10%;
}

.ui.red.card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ui.padded.segment {
  margin-top: 40px;
}

.App-intro {
  /*font-size: large;*/
}

.topBorderRow {
  margin-top: 15%;
  /*margin-bottom: 15%;*/
}

.bottomBorderRow {
  margin-bottom: 15%;
}

.ui.pushable.segment {
  margin-top: 0px;
}

.ui.card>.image, .ui.cards>.card>.image {
  background: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
