.ui.text.container {
    padding: 20px;
    max-height: 120px;
    position: relative;
    overflow: hidden;
}

.ui.text.container .read-more {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    text-align: center;  
    margin: 0;
    padding-bottom: 30px;
        
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, #e9ece5);
}

.ui.label {
    background-color: initial;
} 

#root > div > div.ui.pushable.segment > div.pusher > div > div > div:nth-child(1) > div > div > div.ui.mini.basic.clearing.center.aligned.iconSegment.segment {
    margin: 0px;
    padding: 0px;
}

#root > div > div.ui.pushable.segment > div.pusher > div > div > div:nth-child(1) > div > div > div.ui.basic.center.aligned.statsSegment.segment {
    padding: 0px;
}