.ui.red.label, .ui.red.labels .label {
    right: -200px;
    /* position: fixed; */
}


.commentLabel {
    right: -200px;
    /* position: fixed; */
}

body > div.ui.page.modals.dimmer.transition.visible.active > div > div.actions > button > i{
    padding-left: 10px;
}